default_install_hook_types:
  - pre-commit
  - pre-push
  - commit-msg

default_stages:
  - pre-commit

repos:

  - repo: local
    hooks:
      - id: format-backend
        name: Static Check
        stages:
          - pre-push
        language: golang
        entry: task check
        pass_filenames: false
        additional_dependencies:
          - "github.com/go-task/task/v3/cmd/task@v3.42.1"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm

  - repo: https://github.com/google/yamlfmt.git
    rev: v0.21.0
    hooks:
      - id: yamlfmt

  - repo: https://github.com/rhysd/actionlint.git
    rev: v1.7.10
    hooks:
      - id: actionlint

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/thoughtworks/talisman.git
    rev: v1.37.0
    hooks:
      - id: talisman-commit

  - repo: https://github.com/antonbabenko/pre-commit-terraform.git
    rev: v1.101.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
