---
import EmailVerificationHandler from '../../components/EmailVerificationHandler.vue';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Verify Email - Diagramik</title>
  </head>
  <body>
    <EmailVerificationHandler client:only="vue" />
  </body>
</html>
