---
import EmailVerificationHandler from '../../components/EmailVerificationHandler.vue';

// Get uid and token from query params
const url = new URL(Astro.request.url);
const uid = url.searchParams.get('uid');
const token = url.searchParams.get('token');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Verify Email - Diagramik</title>
  </head>
  <body>
    <EmailVerificationHandler uid={uid} token={token} client:only="vue" />
  </body>
</html>
